<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Chart.js </title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
</head>
<body>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<h1>DBM2 script: data types in RDF</h1>
<h3>Results</h3>
<p>Total triples loaded: {{ count_triples }}</p>
<form method="POST" action="{{ url_for('results') }}">
<table>
         <tbody>
         <tr>
            <th style="width: 120px">Property</th>
            <th style="width: 120px">Type set</th>
            <th style="width: 120px">Suggested retype (change)</th>
        </tr>
         {# here we iterate over every item in our list which we will pass from bar() #}
         {% for item in table_list %}
             <tr>
                 <td>{{ item[0] }}</td>
                 <td>{{ item[2] }}</td>
                 <td>
                     <select name="{{ item[0] }}"  style="width: 120px">
                     {% for val in item[1] %}
                        <option value="{{ val }}" >{{ val }}</option>
                     {% endfor %}
                     </select>
                     <button type="submit" name="button" value="{{ item[0] }}">Go</button>
                     <button type="submit" name="hist_btn" value="{{ item[0] }}">Show histogram</button>
                 </td>
             </tr>
         {% endfor %}
         </tbody>
     </table>

    <button type="submit" name="export_btn" act >Export RDF file</button>
</form>

    {% if error_msg %}
<p class=error style="color:red"><strong>Error:</strong> {{ error_msg }}
    {% endif %}

<br>
 <form action="{{ url_for('results') }}" method='POST' enctype=multipart/form-data>
     <input name=resource value="http://">
     <br><br>
     <input type=submit value="Create resource">
</form>


<br><br>
{% if graph %}
<!-- bar chart canvas element -->
<h3>Histogram - {{ property }}</h3>
<canvas id="chart" width="1100" height="500"></canvas>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   //how many values on y axis
   steps = 3
   // maximum of supplied data
   max = {{y_val}}
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
</script>
{% endif %}

</body>
</html>