<!DOCTYPE html>
<html lang="en">
<body>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <h1>Run DBM2 script</h1>
    <br>
     <form action="/" method='POST' enctype=multipart/form-data>
         <input name=text style="width:500px">
           {% if error %}
           <p class=error><strong>Error:</strong> {{ error }}
          {% endif %}
         <br><br>
         <input type=submit value=Start>
    </form>
</body>
</html>